<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%=@contents_uri%>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=@contents_uri%>/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="<%=@contents_uri%>/css/login.css">

    <title>DOSCA JS Contents</title>
  </head>
  <body>
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
            <h1 class="title">Capt's DOSCA</h1>
            <hr />
          </div>
        </div>
        <div class="main-login main-center">
          <form class="form-horizontal" method="post" action="<%=@root_uri%>/login/auth">
            <div>
               <span class="text-danger"><%= @error_message %></span>
            </div>
            <div class="form-group" id="userNameGroup">
              <label for="username" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" value="<%= @params[:username] %>"/>
                </div>
                <span class="text-danger" id="userNameMsg" hidden>username or password is incorrect.</span>
              </div>
            </div>

            <div class="form-group" id="pwdGroup">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-flash" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password"/>
                </div>
                <span class="text-danger" id="pwdMsg" hidden>username or password is incorrect.</span>
              </div>
            </div>

            <div class="form-group" id="emailGroup">
              <label for="email" class="cols-sm-2 control-label" for="email">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" value="<%= @params[:email] %>"/>
                </div>
                <span class="text-danger" id="emailMsg" hidden></span>
              </div>
            </div>

            <div class="form-group ">
              <button type="submit" class="btn btn-primary btn-lg btn-block login-button" onclick="chkSubmit();">Login</button>
              <a href="/dosca-js/login/auth" class="panel-bg-blue" id="success" hidden>PAST INCIDENT</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="<%=@contents_uri%>/js/jquery.min.js"></script>
    <script src="<%=@contents_uri%>/js/bootstrap.min.js"></script>
    <script>
      function chkSubmit() {
        var flg = 0;
        var username = $("#username").val();
        var pwd = $("#password").val();
        if(chkEmpty(username)) {
          $("#userNameGroup").attr("class","form-group has-error");
          $("#userNameMsg").text("please input your username.");
          $("#userNameMsg").show();
          flg++;
        } else {
          $("#userNameGroup").attr("class","form-group");
          $("#userNameMsg").hide();
        }
        if(chkEmpty(pwd)) {
          $("#pwdGroup").attr("class","form-group has-error");
          $("#pwdMsg").text("please input your password.");
          $("#pwdMsg").show();
          flg++;
        } else {
          $("#pwdGroup").attr("class","form-group");
          $("#pwdMsg").hide();
        }
        if(!chkEmail()) {
          flg++;
        }

        if(flg > 0) {
          return false;
        } else {
          return true;
          //location.href = success;
          //$('#success').trigger('click');
        }
      }

      function chkEmail() {
        var email = $("#email").val();
        if(email != "") {
          var reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
          if(reg.test(email)){
            $("#emailGroup").attr("class","form-group");
            $("#emailMsg").hide();
            return true;
          }else{
            $("#emailGroup").attr("class","form-group has-error");
            $("#emailMsg").text("Mailbox format is incorrect, please re-fill.");
            $("#emailMsg").show();
            return false;
          }
        } else {
          $("#emailGroup").attr("class","form-group has-error");
          $("#emailMsg").text("please input your email.");
          $("#emailMsg").show();
          return false;
        }
      }

      function chkEmpty(str) {
        if(str != "") {
          return false;
        } else {
          return true;
        }
      }

    </script>
  </body>
</html>
