<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%=@contents_uri%>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=@contents_uri%>/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="<%=@contents_uri%>/css/login.css">

    <title>DOSCA JS Contents</title>
  </head>
  <body>
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
            <h1 class="title">Capt's DOSCA</h1>
            <hr />
          </div>
        </div>
        <div class="main-login main-center">
          <form class="form-horizontal" method="post" action="<%=@root_uri%>/login/auth" onsubmit="return chkSubmit()">
            <div>
               <span class="text-danger"><%= @error_message %></span>
            </div>
            <div class="form-group" id="userNameGroup">
              <label for="username" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" onchange="$('#userNameGroup').attr('class','form-group');$('#userNameMsg').hide();" value="<%= @params[:username] %>"/>
                </div>
                <span class="text-danger" id="userNameMsg" hidden></span>
              </div>
            </div>

            <div class="form-group" id="pwdGroup">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-flash" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" id="password" onchange="$('#pwdGroup').attr('class','form-group');$('#pwdMsg').hide();" placeholder="Enter your Password"/>
                </div>
                <span class="text-danger" id="pwdMsg" hidden></span>
              </div>
            </div>

            <div class="form-group" id="emailGroup">
              <label for="email" class="cols-sm-2 control-label" for="email">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" onchange="$('#emailGroup').attr('class','form-group');$('#emailMsg').hide();" value="<%= @params[:email] %>"/>
                </div>
                <span class="text-danger" id="emailMsg" hidden></span>
              </div>
            </div>
            <div>
              <span class="text-danger"><b id="backMsg" style="font-size:15px; padding-right:15px; padding-top:10px; padding-bottom:10px;"></b></span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
              <!-- <a href="/dosca-js/login/auth" class="panel-bg-blue" id="success" hidden>PAST INCIDENT</a> -->
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="<%=@contents_uri%>/js/jquery.min.js"></script>
    <script src="<%=@contents_uri%>/js/bootstrap.min.js"></script>
    <script src="<%=@contents_uri%>/js/message.js"></script>
    <script>
        invaild_flg = 0;
        
        function chkSubmit() {

            if (invaild_flg == 0) {
                invaild_flg = 1;

                var flg = 0;
                var username = $("#username").val();
                var pwd = $("#password").val();
                if(chkEmpty(username)) {
                    $("#userNameGroup").attr("class","form-group has-error");
                    $("#userNameMsg").text(getMsg("jsit.validation.error.required"));
                    $("#userNameMsg").show();
                    flg++;
                } else {
                    $("#userNameGroup").attr("class","form-group");
                    $("#userNameMsg").hide();
                    if(!usernameChk()){
                        flg++;
                    }
                }
                if(chkEmpty(pwd)) {
                    $("#pwdGroup").attr("class","form-group has-error");
                    $("#pwdMsg").text(getMsg("jsit.validation.error.required"));
                    $("#pwdMsg").show();
                    flg++;
                } else {
                    $("#pwdGroup").attr("class","form-group");
                    $("#pwdMsg").hide();
                }
        
                if(!chkEmail()) {
                    flg++;
                }
        
                if(flg > 0) {
                    invaild_flg = 0;
                    return false;
                }
                return true;
            }
            return false;
        }
    
       function usernameChk() {
            var input = $("#username").val();
            var reg = /^[ -~\n]+$/;
            if(reg.test(input)) {
                $("#userNameGroup").attr("class","form-group");
                $("#userNameMsg").text("");
                $("#userNameMsg").hide();
                return true;
            }else{
                $("#userNameGroup").attr("class","form-group has-error");
                $("#userNameMsg").text(getMsg("jsit.validation.error.alphanum"));
                $("#userNameMsg").show();
                return false;
            }
        }
    
        function chkEmail() {
            var email = $("#email").val();
            if(email != "") {
                var reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if(reg.test(email)){
                    $("#emailGroup").attr("class","form-group");
                    $("#emailMsg").hide();
                    return true;
                }else{
                    $("#emailGroup").attr("class","form-group has-error");
                    $("#emailMsg").text(getMsg("jsit.validation.error.format"));
                    $("#emailMsg").show();
                    return false;
                }
            } else {
                $("#emailGroup").attr("class","form-group has-error");
                $("#emailMsg").text(getMsg("jsit.validation.error.required"));
                $("#emailMsg").show();
                return false;
            }
        }
    
        function chkEmpty(str) {
            if(str != "") {
                return false;
            } else {
                return true;
            }
        }
    
    </script>
  </body>
</html>
