<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <title>DOSCA JS Contents</title>
  <script src="<%=@contents_uri%>/js/jquery.min.js"></script>
  <script src="<%=@contents_uri%>/js/message.js"></script>
  <link href="<%=@contents_uri%>/confirm/jquery-confirm.min.css" rel="stylesheet">
  <script src="<%=@contents_uri%>/confirm/jquery-confirm.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="<%=@contents_uri%>/css/bootstrap.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="<%=@contents_uri%>/css/theme.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/pikaday/css/pikaday.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/css/combo.select.css" rel="stylesheet">
  <!-- <link href="<%=@contents_uri%>/bootstrap-fileinput-master20161101/css/fileinput.css" media="all" rel="stylesheet" type="text/css" /> -->
  <link href="<%=@contents_uri%>/bootstrap-fileinput-master/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
  <link href="<%=@contents_uri%>/bootstrap-fileinput-master/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
  <style>
    .background {
        fill: white;
        pointer-events: all;
      }
    #country-borders {
      fill: none;
      stroke: #fff;
      stroke-width: 0.5px;
      stroke-linejoin: round;
      stroke-linecap: round;
      pointer-events: none;
    }
  </style>
</head>
<body>
<div class="navbar-static-top">
  <div class="col-md-12 padding-top-10">
    <div class="col-md-8 none-padding-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#" class="nav-bg-blue"><%= @news_contents[:name] %></a></li>
        <%if @past_contents %>
          <!-- <li><a href="<%=@root_uri%>/edit/past" class="nav-border" onclick="if($('#pageStatus').val() == 4) {return confirm(MSG_NEWPAGE)}"><%= @past_contents[:name] %></a></li> -->
          <li><a class="nav-border hand-mouse" onclick="if($('#pageStatus').val() == 4) {$('#pastBtnY').click();} else {$('#pastBtnN')[0].click();}"><%= @past_contents[:name] %></a></li>
          <li><a href="<%=@root_uri%>/edit/past" id="pastBtnY" class="jump nav-border" style="display: none"><%= @past_contents[:name] %></a></li>
          <li><a href="<%=@root_uri%>/edit/past" id="pastBtnN" class="nav-border" style="display: none"><%= @past_contents[:name] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12">
<form class="form-horizontal" id="editForm" role="form" method="post" action="/dosca-js/edit/news">
  <input type="hidden" id="ContentCode" name="contents_code" value="<%=@values[:contents_code]%>">
  <input type="hidden" id="ContentNo" name="contents_no" value="<%=@values[:contents_no]%>">
  <input type="hidden" id="pageStatus" name="status" value="<%=@values[:status]%>"> 
  <input type="hidden" id="d3Map" name="map_picture" value="">
  <input type="hidden" id="pageID" value="edit">

  <!--Left-Start-->
  <div class="col-lg-8 col-md-8 col-sm-8 none-padding-left" id="leftPanel">
    <div class="panel panel-default left-panel panel-bg-blue">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="row">
            <button type="button" id="newBtn" class="btn btn-blue new-Btn" onclick="if($('#pageStatus').val() == 4) {$('#newJumpY').click();} else {document.getElementById('newJumpN').click();}">New</button>
            <a href="<%=@root_uri%>/edit/news" id="newJumpY" class="btn btn-blue new-Btn newJump" style="display: none">New</a>
            <a href="<%=@root_uri%>/edit/news" id="newJumpN" class="btn btn-blue new-Btn" style="display: none">New</a>
            <!-- <button type="button" class="btn btn-blue" id="newBtn" style="width: 80px;margin-left: 20px;margin-right: 20px">New</button> -->
            <button type="button" class="btn btn-grey" id="editBtn" style="width: 80px;margin-right: 20px;" onClick="editBtnAction();" disabled>Edit</button>
            <!-- <button type="button" class="btn btn-grey" id="delBtn" style="width: 80px" onclick="if(confirm(MSG_DELITEM)) {alert('del')} else {alert('cal')}" disabled>Delete</button> -->
            <button type="button" class="btn btn-grey delJump" id="delBtn" style="width: 80px" disabled>Delete</button>
          </div>
        </div>
        <!--Line-1-->
        <div class="col-md-12 padding-top-25">
          <div class="form-group">
            <label for="IssueDate" class="col-sm-2 control-label">Issue Date</label>
            <div class="col-sm-4">
              <input type="text" class="form-control bg-white" id="IssueDate" readonly>
            </div>
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn <%='btn-grey' unless @values[:period].nil?%> <%='btn-blue' if @values[:period].nil?%>" id="noPeriod" style="width: 110px;">No Period</button>
                <button type="button" class="btn <%='btn-blue' unless @values[:period].nil?%> <%='btn-grey' if @values[:period].nil? %>" id="Period" style="width: 110px;margin-right: 17px">Period</button>
              </div>
            </div>
          </div>
        </div>
        <!--Line-2-->
        <div class="col-md-12">
          <div class="form-group">
            <div>
              <label class="col-sm-2 control-label"><%= @items[:category] %></label>
              <div class="col-sm-4">
                <select class="" id="Category" name="category" onchange="$('.combo-input').attr('style', '');$('#Category').parent().parent().parent().attr('class','');$('#CategoryMsg').attr('hidden', 'true');">
                  <option value=""></option>
                  <% @categories.each {|value| %>
                     <option <%="selected" if @values[:category] and value==@values[:category]%>><%= value %></option>
                  <% } %>
                </select>
                <span class="text-danger" id="CategoryMsg" hidden="true"></span>
              </div>
            </div>
            <div>
              <label class="col-sm-3 control-label">Termination Date</label>
              <div class="col-sm-3">
                <div class="input-group">
                  <input type="text" class="form-control bg-white" id="TerminationDate" name="termination_date" style="cursor:pointer;" onchange="$('#TerminationDate').parent().parent().parent().attr('class', '');
                      $('#TerminationDate').parent().next().text('');" readonly value="<%=@values[:termination_date]%>">
                  <span class="input-group-addon hand-mouse" id="DateIcon" onclick="$('#TerminationDate').click();"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span class="text-danger"></span>
              </div>
            </div>
          </div>
        </div>
        <!--Line-3-->
        <div class="col-md-12">
          <div class="form-group">
            <label for="Subject" class="col-sm-2 control-label"><%= @items[:subject] %></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Subject" name="subject" maxlength="50" onchange="$(this).parent().parent().attr('class', 'form-group');$(this).next().text('');" value="<%=@values[:subject]%>">
              <span class="text-danger"></span>
            </div>
          </div>
        </div>
        <!--Line-4-->
        <div class="col-md-12">
          <div class="form-group">
            <label for="Summary" class="col-sm-2 control-label"><%= @items[:summary] %></label>
            <div class="col-sm-10">
              <textarea cols="120" rows="10" class="form-control" id="Summary" name="summary" maxlength="3000" style="resize: none;" onchange="$(this).parent().parent().attr('class', 'form-group');$(this).next().text('');"><%=@values[:summary]%></textarea>
              <span class="text-danger"></span>
            </div>
          </div>
        </div>
        <!--Line-5-->
        <div class="col-md-12">
          <div class="form-group">
            <label for="Picture" class="col-sm-2 control-label"><%= @items[:picture] %></label>
            <div class="col-sm-10">
              <input type="file" class="file" id="Picture" name="files[]" multiple data-preview-file-type="any" data-upload-url="/dosca-js/edit/upload">
            </div>
          </div>
        </div>
        <!--Line-6-->
        <div class="col-md-12">
          <div class="form-group">
            <label for="WebPage" class="col-sm-2 control-label"><%= @items[:web_page] %></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="WebPage" name="web_page" onchange="$(this).parent().parent().attr('class', 'form-group');$(this).next().text('');" value="<%=@values[:web_page]%>">
              <span class="text-danger"></span>
            </div>
          </div>
        </div>
        <!--Line-7-->
        <div class="col-md-12">
          <div class="col-md-offset-4">
            <button type="button" class="btn btn-blue" id="preBtn" style="width: 120px;margin-left: 20px;margin-right: 20px" onclick="submitChk()">Preview</button>
            <button type="button" class="btn btn-pink" id="submitBtn" style="width: 120px;margin-right: 20px;" onclick="submitChk()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Left-End-->
  <!--right-Start-->
  <div class="col-lg-4 col-md-4 col-sm-4 none-padding">
    <div class="panel panel-default panel-bg-blue" id="locationPanel">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2"><h3>Location</h3></div>
          <div class="col-xs-9 col-xs-offset-1" style="padding-left: 3px;">
            <div class="form-group">
              <label class="col-sm-2 control-label">Port</label>
              <div class="col-sm-10">
                <!-- <input type="text" class="form-control" id="Port" placeholder="OMAEZAKI"> -->
                <select id="Port" name="ports">
                  <option value=""></option>
                 <% @ports.each {|hash| %>
                    <option value="<%= hash.values[0] %>"><%= hash.keys[0] %></option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="Position" class="col-sm-2 control-label">Position</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="Position" name="position" onchange="$(this).parent().parent().attr('class', 'form-group');$(this).next().text('');pointChk();inputPoint(this.value);" value="<%=@values[:latitude] + "," + @values[:longitude] if @values[:latitude]%>">
                <span class="text-danger" id="PositionMsg"></span>
              </div>
            </div>
          </div><!--col-xs-9-->
        </div>
        <div class="col-md-12 none-padding text-center bg-white" id="map" style="overflow: hidden">
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-bg-yellow">
      <div class="panel-body">
        <div class="text-center"><h3 style="margin-top: 0px">Historical Contents</h3></div>
        <div class="col-md-12 none-padding history-style">
          <ul class="list-group history-ul-style" id="historyList" style="height: 345px; ">
            <% @histories.each{|his|%>
            <span class="list-group-item li-padding hand-mouse" onclick="loadHistory('<%=his[:contents_no]%>');"><%=his[:title]%></span>
            <% }%>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--right-End-->
</form>
</div>

  <!-- Bootstrap core JavaScript
   ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="<%=@contents_uri%>/js/bootstrap.min.js"></script>
  <script src="<%=@contents_uri%>/js/init.js"></script>
  <script src="<%=@contents_uri%>/js/Check.js"></script>
  <script src="<%=@contents_uri%>/js/btnAction.js"></script>
  <script src="<%=@contents_uri%>/pikaday/js/moment.min.js"></script>
  <script src="<%=@contents_uri%>/pikaday/js/pikaday.js"></script>
  <script src="<%=@contents_uri%>/js/jquery.combo.select.js"></script>
  <!-- <script src="<%=@contents_uri%>/bootstrap-fileinput-master20161101/js/fileinput.js"></script> -->
  <script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/plugins/canvas-to-blob.js"></script>
  <script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/plugins/purify.js"></script>
  <script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/plugins/sortable.js"></script>
  <script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/fileinput.js"></script>
  <script src="<%=@contents_uri%>/bootstrap-fileinput-master/themes/explorer/theme.js"></script>
  <script src="<%=@contents_uri%>/js/d3.v3.min.js"></script>
  <script src="<%=@contents_uri%>/js/topojson.v1.min.js"></script>
  <script src="<%=@contents_uri%>/js/saveSvgAsPng.js"></script>
  <script>
    var clientWidth = $("#map").width();
    var clientHeight = document.documentElement.clientHeight;

    var oldMark =null;

    var width = clientWidth;
    var height = clientWidth / 1.91666;
    var icon_size = 20;
    var projection = d3.geo.mercator()
        .scale(60)
        .translate([width / 2.2, height/1.8]);
    var path = d3.geo.path()
        .projection(projection);

    var zoom = d3.behavior.zoom()
        .translate(projection.translate())
        .scale(projection.scale())
        .scaleExtent([height / 8, 4 * height])
        .on("zoom", zoomed);

    var svg = d3.select("#map").append("svg")
        .attr("width", width)
        .attr("height", height);

    var g = svg.append("g")
        .call(zoom);

    var color = d3.scale.ordinal()
        .range(["#98abc5", "#fff"]);

    g.append("rect")
        .attr("class", "background")
        .attr("width", width)
        .attr("height", height);

    d3.json("<%=@contents_uri%>/worldmap-high.json", function(error, topology) {
      if (error) throw error;

      g.append("g")
          .attr("id", "countries")
        .selectAll("path")
          .data(topojson.feature(topology, topology.objects.countries).features)
        .enter().append("path")
          .attr("d", path)
          .style("fill", color(0));

      g.append("path")
          .datum(topojson.mesh(topology, topology.objects.countries, function(a, b) { return a !== b; }))
          .attr("id", "country-borders")
          .style("stroke", color(1))
          .attr("d", path);
    });

    function dblclicked() {
      if($("#pageStatus").val() != 2) {
      	var data = projection.invert(d3.mouse(this));
        if(data[0] <= 180 && data[0] >= -180 && data[1] <= 90 && data[1] >= -90) {
        	oldMark = data;
          var show = new Array();
          if(data[0] < 0) {
            var tmp = String(data[0].toFixed(5));
            show[0] = tmp.substr(1, tmp.length-1) + "W";
          } else {
            show[0] = data[0].toFixed(5) + "E";
          }
          if(data[1] < 0) {
            var tmp = String(data[1].toFixed(5));
            show[1] = tmp.substr(1, tmp.length-1) + "S";
          } else {
            show[1] = data[1].toFixed(5) + "N";
          }
          $('#Position').val(show[1] + "," + show[0]);
          $('#PositionMsg').text('').parent().parent().attr('class', 'form-group');
          drawVessel(data);
        }
      }
    }

    function inputPoint(point) {
      if(point != null) {
        if(pointChk()){
          var pageData = point.split(",");
          if(pageData[0].charAt(pageData[0].length - 1) == "S") {
            pageData[0] = parseFloat("-" + pageData[0].substr(0,pageData[0].length - 1));
          } else {
            pageData[0] = parseFloat("+" + pageData[0].substr(0,pageData[0].length - 1));
          }
          if(pageData[1].charAt(pageData[1].length - 1) == "W") {
            pageData[1] = parseFloat("-" + pageData[1].substr(0,pageData[1].length - 1));
          } else {
            pageData[1] = parseFloat("+" + pageData[1].substr(0,pageData[1].length - 1));
          }
          var data = new Array();
          data[0] = pageData[1];
          data[1] = pageData[0];
          oldMark = data;
          $('#PositionMsg').text('').parent().parent().attr('class', 'form-group');
          drawVessel(data);
        }
      }
    }

    function drawVessel(data) {
        d3.select("#map").select("svg").selectAll("image").remove();
    // Draw SVG Icon
        d3.select("#map").select("svg").selectAll()
          .data(data)
          .enter()
          .append('image')
          .attr('class', 'vessel')
          .attr('width', icon_size )
          .attr('height', icon_size )
          .attr('x', icon_size/2*(-1))
          .attr('y', icon_size/2*(-1))
          .attr('xlink:href', "<%=@contents_uri%>/ship.jpg")
          .attr('transform', function(){
            var lon = data[0];
            var lat = data[1];
            var pos = projection([lon, lat]);
            if( pos[0] == pos[0] && pos[1] == pos[1] ){
              return "translate(" + pos + "), rotate(0 ,0 ,0)";
            } else {
              return "";
            }
          });
    }

    function zoomed() {
      projection.translate(d3.event.translate).scale(d3.event.scale);
      g.selectAll("path").attr("d", path);
      if( oldMark != null) {
        drawVessel(oldMark);
      }
    }

    d3.select("svg").on("dblclick", dblclicked);

    function loadHistory(contents_no) {
      window.location.href = '/dosca-js/edit/news?contents_no=' + contents_no;
    }

  </script>
  <script>
  $(document).ready(function() {
    $('a.jump').confirm({
      title: 'DOSCA JS Contents',
      content: getMsg("MSG_NEWPAGE"),
      buttons: {
        OK: function () {
            location.href = this.$target.attr('href');
        },
        Cancel: function () {
        }
      }
    });
    $('a.newJump').confirm({
      title: 'DOSCA JS Contents',
      content: getMsg("MSG_NEWPAGE"),
      buttons: {
        OK: function () {
            location.href = this.$target.attr('href');
        },
        Cancel: function () {
        }
      }
    });
    $('button.delJump').confirm({
      title: 'DOSCA JS Contents',
      content: getMsg("MSG_DELITEM"),
      buttons: {
        OK: function () {
          $.alert("del");
        },
        Cancel: function () {
          $.alert("cancel");
        }
      }
    });
    $('#Port').change(function(){
      $('#Position').val($(this).val());
      inputPoint($(this).val());
    });
  });
  </script>
</body>
</html>
