<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <title>DOSCA JS Contents</title>
  <script src="<%=@contents_uri%>/js/jquery.min.js"></script>
  <script src="<%=@contents_uri%>/js/message.js"></script>
  <script src="<%=@contents_uri%>/js/jquery.loading-indicator.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="<%=@contents_uri%>/css/bootstrap.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="<%=@contents_uri%>/css/jquery.loading-indicator.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/css/theme.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/pikaday/css/pikaday.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/css/combo.select.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/bootstrap-fileinput-master/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
  <link href="<%=@contents_uri%>/bootstrap-fileinput-master/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
  <link href="<%=@contents_uri%>/confirm/jquery-confirm.min.css" rel="stylesheet">
  <style>
    .background {
        fill: white;
        pointer-events: all;
      }
    #country-borders {
      fill: none;
      stroke: #fff;
      stroke-width: 0.5px;
      stroke-linejoin: round;
      stroke-linecap: round;
      pointer-events: none;
    }
  </style>
</head>
<body>
<div class="navbar-static-top">
  <div class="col-md-12 padding-top-10">
    <div class="col-md-8 none-padding-left">
      <ul class="nav nav-tabs">
       <%if @news_contents %>
         <li><a class="nav-border hand-mouse" onclick="if($('#pageStatus').val() == 4) {$('#newBtnY').click();} else {$('#newBtnN')[0].click();}"><%=@news_contents[:name]%></a></li>
         <li><a href="<%=@root_uri%>/edit/news" id="newBtnY" class="jump nav-border" style="display: none"><%=@news_contents[:name]%></a></li>
         <li><a href="<%=@root_uri%>/edit/news" id="newBtnN" class="nav-border" style="display: none"><%=@news_contents[:name]%></a></li>
       <%end %>
        <li class="active"><a href="#" class="nav-bg-blue"><%=@past_contents[:name]%></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12">
<form class="form-horizontal" id="pastForm" role="form" method="post" action="/dosca-js/edit/past">
  <input type="hidden" id="ContentCode" name="contents_code" value="<%=@values[:contents_code]%>">
  <input type="hidden" id="ContentNo" name="contents_no" value="<%=@values[:contents_no]%>">
  <input type="hidden" id="pageStatus" name="status" value="<%=@values[:status]%>">
  <input type="hidden" id="pageID" value="past">
  <input type="hidden" id="d3Map" name="map_picture" value="">

  <!--Left-Start-->
  <div class="col-lg-8 col-md-8 col-sm-8 none-padding-left" id="leftPanel">
    <div class="panel panel-default left-panel panel-bg-blue">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="row">
            <!-- <button class="btn btn-blue" style="width: 80px;margin-left: 20px;margin-right: 20px">New</button> -->
            <button type="button" id="newBtn" class="btn btn-blue new-Btn" onclick="if($('#pageStatus').val() == 4) {$('#newJumpY').click();} else {document.getElementById('newJumpN').click();}">New</button>
            <a href="<%=@root_uri%>/edit/past" id="newJumpY" class="btn btn-blue new-Btn newJump" style="display: none">New</a>
            <a href="<%=@root_uri%>/edit/past" id="newJumpN" class="btn btn-blue new-Btn" style="display: none">New</a>
            <button type="button" class="btn btn-grey" id="editBtn" style="width: 80px;margin-right: 20px;" onClick="editBtnAction();" disabled>Edit</button>
            <button class="btn btn-grey delJump" id="delBtn" style="width: 80px" disabled>Delete</button>
          </div>
        </div>
        <!--Line-1-->
        <div class="col-md-12 padding-top-25">
          <div>
             <span class="text-danger"><%= @error_message %></span>
          </div>
          <div class="form-group">
            <label for="IssueDate" class="col-sm-2 control-label">Issue Date</label>
            <div class="col-sm-4">
              <input type="text" class="form-control bg-white" id="IssueDate" value="<%=@values[:issue_date]%>" readonly>
            </div>
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn <%='btn-grey' unless @values[:period].nil?%> <%='btn-blue' if @values[:period].nil?%>" id="noPeriod" style="width: 110px;">No Period</button>
                <button type="button" class="btn <%='btn-blue' unless @values[:period].nil?%> <%='btn-grey' if @values[:period].nil?%>" id="Period" style="width: 110px;margin-right: 17px">Period</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <div class="col-md-offset-6">
              <div>
                <label class=" col-sm-6 control-label">Termination Date</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input type="text" class="form-control bg-white" id="TerminationDate" name="termination_date" style="cursor:pointer;" readonly value="<%=@values[:termination_date]%>">
                    <span class="input-group-addon" id="DateIcon" onclick="$('#TerminationDate').click();"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                  <span class="text-danger"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Line-2-->
        <div class="col-md-12 padding-top-25">
          <div class="panel panel-default panel-bg-blue" style="border-width: 2px">
            <div class="panel-body">
              <div class="col-md-12 text-center">
                <div class="text-center title-in-solid">
                  <b>
                    <span class="title-in-solid-span">Displayed this area on the MAP</span>
                  </b>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div>
                    <label class="col-sm-6 control-label" style="text-align: left;"><%= @items[:category] %></label>
                    <div class="col-sm-6 pull-right">
                      <select class="" id="Category" name="category" onchange="$('.combo-input').attr('style', '');$('#Category').parent().parent().parent().attr('class','');$('#CategoryMsg').attr('hidden', 'true');">
                        <option value=""></option>
                        <% @categories.each {|value| %>
                        <option <%="selected" if @values[:category] and value==@values[:category]%>><%= value %></option>
                        <% } %>
                      </select>
                      <span class="text-danger" id="CategoryMsg" hidden="true">Please select the Category.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group" id="incidentGroup">
                  <label class="col-sm-6 control-label" style="text-align: left;"><%= @items[:date_time] %></label>
                  <% date_arr = nil %>
                  <% date_arr = @values[:date_time].split(" ") unless @values[:date_time].nil? ||  @values[:date_time].empty?%>
                  <% hs_arr = nil %>
                  <% hs_arr = date_arr[1].split(":") if date_arr %>
                  <div class="col-sm-6 pull-right">
                    <div class="row">
                      <div class="col-md-6" style="padding-right: 5px;">
                        <input type="text" class="form-control bg-white" id="incidentDate" style="cursor:pointer;" onchange="$('#incidentGroup').attr('class', 'form-group');
                            $('#incidentMsg').text('');" readonly value="<%=date_arr[0] if date_arr%>">
                      </div>
                      <div class="col-md-6 none-padding">
                        <div class="col-md-5 none-padding">
                          <select type="" class="form-control" id="incidentDateHour" style="display: inline-block;" onchange="$('#incidentGroup').attr('class', 'form-group');
                              $('#incidentMsg').text('');">
                            <option value=""></option>
                            <% (0..23).each {|num| %>
                              <option <%="selected" if hs_arr && hs_arr[0].to_i == num%> value="<%= '%02d' % num %>"><%= '%02d' % num %></option>
                            <% } %>
                          </select>
                        </div>
                        <div class="col-md-1 text-center none-padding">
                          <span class="text-center" style="display: inline-block; padding-top: 5px;"><b>:</b></span>
                        </div>
                        <div class="col-md-5 none-padding">
                          <select type="text" class="form-control" id="incidentDateMin" style="display: inline-block;" onchange="$('#incidentGroup').attr('class', 'form-group');
                              $('#incidentMsg').text('');">
                            <option value=""></option>
                            <% (0..59).each {|num| %>
                              <option <%="selected" if hs_arr && hs_arr[1].to_i == num%> value="<%= '%02d' % num %>"><%= '%02d' % num %></option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" id="dateTime" name="date_time" value="">
                    <div id="incidentMsg" class="text-danger"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="VESSELNAME" class="col-sm-6 control-label" style="text-align: left;"><%= @items[:vessel_name] %></label>
                  <div class="col-sm-6 pull-right">
                    <input type="text" class="form-control" id="Vessel" name="vessel_name" onchange="$(this).parent().parent().attr('class', 'form-group');$(this).next().text('');" value="<%=@values[:vessel_name]%>">
                    <span class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="CARGO" class="col-sm-6 control-label" style="text-align: left;"><%= @items[:cargo] %></label>
                  <div class="col-sm-6 pull-right">
                    <input type="text" class="form-control" id="Cargo" name="cargo" onchange="$(this).parent().parent().attr('class', 'form-group');$(this).next().text('');" value="<%=@values[:cargo]%>">
                    <span class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--Panel-End-->
        <!--Line-3-->
        <div class="col-md-12 ">
          <div class="form-group">
            <div class="col-sm-12">
              <input id="Picture" class="file" type="file" name="files[]" multiple data-preview-file-type="any" data-upload-url="/dosca-js/edit/upload">
            </div>
          </div>
        </div>
        <!--Line-4-->
        <div class="col-md-12 ">
          <div class="form-group">
            <div class="col-sm-12">
              <% pdf_file = @values[:pdf_file]%>
              <a id="PictureDownload" href="<%= pdf_file%>" class="btn btn-blue" target="_blank" style="display: none;">Past PDF Download</a>
              <input id="picUp" type="hidden" value="false">
            </div>
          </div>
        </div>
        <!--Line-5-->
        <div class="col-md-12">
          <div class="col-md-offset-5">
            <button type="button" class="btn btn-grey" id="submitBtn" style="width: 120px; margin-right: 20px;" onclick="submitChk('self');" disabled>Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Left-End-->
  <!--right-Start-->
  <div class="col-lg-4 col-md-4 col-sm-4 none-padding">
    <div class="panel panel-default panel-bg-blue" id="locationPanel">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2"><h3>Location</h3></div>
          <div class="col-xs-9 col-xs-offset-1" style="padding-left: 3px;">
            <div class="form-group">
              <label class="col-sm-2 control-label">Port</label>
              <div class="col-sm-10">
                <!-- <input type="text" class="form-control" id="Port" placeholder="OMAEZAKI"> -->
                <select id="Port" class="form-control">
                  <option value=""></option>
                  <% @ports.each {|hash| %>
                    <option value="<%= hash.values[0][0] + " " + hash.values[0][1] %>" <%="selected" if @values[:ports] and hash.keys[0].to_s==@values[:ports].to_s%>><%= hash.keys[0] %></option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="Position" class="col-sm-2 control-label">Position</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="Position" name="position" value="<%=@values[:latitude] + " " + @values[:longitude] if @values[:latitude]%>"
                onchange="$('.combo-input').eq(1).val('');pointChk();inputPoint(this.value);" >
                <span class="text-danger" id="PositionMsg"></span>
                <input type="hidden" class="form-control" id="PositionOld" value="<%=@values[:latitude] + " " + @values[:longitude] if @values[:latitude]%>">
              </div>
            </div>
          </div><!--col-xs-9-->
        </div>
        <div class="col-md-12 none-padding text-center bg-white" id="map" style="overflow: hidden">

        </div>
      </div>
    </div>
    <div class="panel panel-default panel-bg-yellow">
      <div class="panel-body">
        <div class="text-center"><h3 style="margin-top: 0px">Historical Contents</h3></div>
        <div class="col-md-12 none-padding history-style">
          <ul class="list-group history-ul-style" id="historyList" style="height: 318px;">
            <% @histories.each{|his|%>
            <span class="list-group-item li-padding hand-mouse" onclick="loadHistory('<%=his[:contents_no]%>');"><%=his[:title]%></span>
            <% }%>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--right-End-->
</form>
</div>


<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="<%=@contents_uri%>/js/bootstrap.min.js"></script>
<script src="<%=@contents_uri%>/js/init.js"></script>
<script src="<%=@contents_uri%>/js/Check.js"></script>
<script src="<%=@contents_uri%>/js/btnAction.js"></script>
<script src="<%=@contents_uri%>/pikaday/js/moment.min.js"></script>
<script src="<%=@contents_uri%>/pikaday/js/pikaday.js"></script>
<script src="<%=@contents_uri%>/js/jquery.combo.select.js"></script>
<script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/plugins/canvas-to-blob.js"></script>
<script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/plugins/purify.js"></script>
<script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/plugins/sortable.js"></script>
<script src="<%=@contents_uri%>/bootstrap-fileinput-master/js/fileinput.js"></script>
<script src="<%=@contents_uri%>/bootstrap-fileinput-master/themes/explorer/theme.js"></script>
<script src="<%=@contents_uri%>/confirm/jquery-confirm.min.js"></script>
<script src="<%=@contents_uri%>/js/d3.v3.min.js"></script>
<script src="<%=@contents_uri%>/js/topojson.v1.min.js"></script>
<script src="<%=@contents_uri%>/js/saveSvgAsPng.js"></script>
<script>
  var clientWidth = $("#map").width();
  var clientHeight = document.documentElement.clientHeight;

  var oldMark =null;

  var width = clientWidth ;
  var height = clientWidth / 1.91666;
  var icon_size = 20;
  var projection = d3.geo.mercator()
      .scale(60)
      .translate([width / 2.2, height/1.8]);
  var path = d3.geo.path()
      .projection(projection);

  var zoom = d3.behavior.zoom()
      .translate(projection.translate())
      .scale(projection.scale())
      .scaleExtent([height / 8, 4 * height])
      .on("zoom", zoomed);

  var svg = d3.select("#map").append("svg")
      .attr("width", width)
      .attr("height", height);

  var g = svg.append("g")
      .call(zoom);

  var color = d3.scale.ordinal()
      .range(["#98abc5", "#fff"]);

  g.append("rect")
      .attr("class", "background")
      .attr("width", width)
      .attr("height", height);

  d3.json("<%=@contents_uri%>/worldmap-high.json", function(error, topology) {
    if (error) throw error;

    g.append("g")
        .attr("id", "countries")
      .selectAll("path")
        .data(topojson.feature(topology, topology.objects.countries).features)
      .enter().append("path")
        .attr("d", path)
        .style("fill", color(0));

    g.append("path")
        .datum(topojson.mesh(topology, topology.objects.countries, function(a, b) { return a !== b; }))
        .attr("id", "country-borders")
        .style("stroke", color(1))
        .attr("d", path);
  });

  function dblclicked() {
    if($("#pageStatus").val() != 2) {
      var data = projection.invert(d3.mouse(this));
      if(data[0] <= 180 && data[0] >= -180 && data[1] <= 90 && data[1] >= -90) {
        oldMark = data;
        var show = new Array();

        var lon_d = Math.floor(Math.abs(data[0]));
        var lon_m = ((Math.abs(data[0]) - lon_d) * 60).toFixed(2);
        if(data[0] < 0) {
          show[0] = String(lon_d) + "-" + lon_m + " W";
        } else {
          show[0] = String(lon_d) + "-" + lon_m + " E";
        }

        var lat_d = Math.floor(Math.abs(data[1]));
        var lat_m = ((Math.abs(data[1]) - lat_d) * 60).toFixed(2);
        if(data[1] < 0) {
          show[1] = String(lat_d) + "-" + lat_m + " S";
        } else {
          show[1] = String(lat_d) + "-" + lat_m + " N";
        }

        $('#Position').val(show[1] + " " + show[0]);
        $('#PositionOld').val(show[1] + " " + show[0]);
        $('#PositionMsg').text('').parent().parent().attr('class', 'form-group');
        $("#pageStatus").val("4");
        submitBtnActive();
        $('.combo-input').eq(1).val('');
        drawVessel(data);
      }
    }
  }

  function inputPoint(point) {
    if(point.trim().length == 0) {
      oldMark = null;
      data = null;
      drawVessel(data);
    }
    if(point != null) {
      if(pointChk()){
        var data = new Array();
        var position = point.split(" ");

        if　(position[0].indexOf("-") > 0) {
          var lat = position[0].split("-");
          var lat_d = lat[0];
          var lat_m = lat[1];
        } else {
          var lat_d = position[0];
          var lat_m = 0;
        }

        var lat_num = parseFloat(lat_d) + parseFloat(lat_m) / 60;

        data[1] = lat_num;
        if(position[1] == "S") {
          data[1] = lat_num * (-1);
        }

        if　(position[2].indexOf("-") > 0) {
          var lon = position[2].split("-");
          var lon_d = lon[0];
          var lon_m = lon[1];
        } else {
          var lon_d = position[2];
          var lon_m = 0;
        }

        var lon_num = parseFloat(lon_d) + parseFloat(lon_m) / 60;

        data[0] = lon_num;
        if(position[3] == "W") {
          data[0] = lon_num * (-1);
        }

        oldMark = data;
        $('#PositionMsg').text('').parent().parent().attr('class', 'form-group');
        drawVessel(data);
      } else {
        $('#Position').val($("#PositionOld").val());
      }
    }
  }

  function drawVessel(data) {
      d3.select("#map").select("svg").selectAll("image").remove();
  // Draw SVG Icon
      d3.select("#map").select("svg").selectAll()
        .data(data)
        .enter()
        .append('image')
        .attr('class', 'vessel')
        .attr('width', icon_size )
        .attr('height', icon_size )
        .attr('x', icon_size/2*(-1))
        .attr('y', icon_size/2*(-1))
        .attr('xlink:href', "<%=@contents_uri%>/ship.jpg")
        .attr('transform', function(){
          var lon = data[0];
          var lat = data[1];
          var pos = projection([lon, lat]);
          if( pos[0] == pos[0] && pos[1] == pos[1] ){
            return "translate(" + pos + "), rotate(0 ,0 ,0)";
          } else {
            return "";
          }
        });
  }

  function zoomed() {
    projection.translate(d3.event.translate).scale(d3.event.scale);
    g.selectAll("path").attr("d", path);
    if( oldMark != null) {
      drawVessel(oldMark);
    }
  }

  d3.select("svg").on("dblclick", dblclicked);

  function loadHistory(contents_no) {
    if($("#pageStatus").val() == "4"){
      $.confirm({
        title: 'DOSCA JS Contents',
        content: getMsg("MSG_NEWPAGE"),
        buttons: {
          OK: function () {
            window.location.href = '/dosca-js/edit/past?contents_no=' + contents_no;
          },
          Cancel: function () {
          }
        }
      });
    } else {
      window.location.href = '/dosca-js/edit/past?contents_no=' + contents_no;
    }
  }
</script>
<script>
$(document).ready(function() {
  $('a.jump').confirm({
    title: 'DOSCA JS Contents',
    content: getMsg("MSG_NEWPAGE"),
    buttons: {
      OK: function () {
          location.href = this.$target.attr('href');
      },
      Cancel: function () {
      }
    }
  });
  $('a.newJump').confirm({
    title: 'DOSCA JS Contents',
    content: getMsg("MSG_NEWPAGE"),
    buttons: {
      OK: function () {
          location.href = this.$target.attr('href');
      },
      Cancel: function () {
      }
    }
  });
  $('button.delJump').confirm({
    title: 'DOSCA JS Contents',
    content: getMsg("MSG_DELITEM"),
    buttons: {
      OK: function () {
          delAction();
      },
      Cancel: function () {
        // $.alert("cancel");
      }
    }
  });
  $('#Port').change(function(){
    $('#Position').val($(this).val());
    inputPoint($(this).val());
  });
});
</script>
</body>
</html>
