<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <title>DOSCA JS Contents</title>
  <!-- Bootstrap core CSS -->
  <link href="<%=@contents_uri%>/css/bootstrap.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="<%=@contents_uri%>/css/theme.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/pikaday/css/pikaday.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/css/combo.select.css" rel="stylesheet">
  <link href="<%=@contents_uri%>/bootstrap-fileinput-master20161101/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
  <style>@import url('<%=@contents_uri%>/css/maps.css');</style>
  <script src="<%=@contents_uri%>/d3-map/bower_components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="<%=@contents_uri%>/d3-map/d3-geomap.html">
  <style shim-shadowdom>
    zoom-controller::shadow d3-geomap, d3-geomap {
      display:inline-block;
      border:1px solid black;
      border-radius: 3px;
    }
    zoom-controller::shadow .params, .params {
      display: inline-block;
      vertical-align: top;
      border: 1px solid #333;
      background-color: PowderBlue;
      margin: 10px;
      padding: 10px;
      border-radius: 3px;
      vertical-align: top;
    }
    zoom-controller::shadow .params tr td:nth-of-type(1) { font-weight: bold; }
    zoom-controller::shadow .params tr td:nth-of-type(2) { text-align: right; }
    zoom-controller::shadow .params tr td:nth-of-type(3) { text-align: center; width: 100px }
    zoom-controller::shadow .params tr td:nth-of-type(4) { text-align: right; }
    zoom-controller::shadow .params tr td:nth-of-type(5) { text-align: right; width: 50px; }
    zoom-controller::shadow .params input[type=number] { text-align: right; width: 50px; }
    zoom-controller::shadow .params td { vertical-align: top }
  </style>
</head>
<body>
<div class="navbar-static-top">
  <div class="col-md-12 padding-top-10">
    <div class="col-md-8 none-padding-left">
      <ul class="nav nav-tabs">
        <li><a href="<%=@root_uri%>/edit/news" class="nav-border" onclick="return confirm('Now open new page?Current page information will be lost.')">INCIDENT NEWS</a></li>
        <li class="active"><a href="#" class="nav-bg-blue">PAST INCIDENT</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12">
<form class="form-horizontal" role="form">
  <!--Left-Start-->
  <div class="col-lg-8 col-md-8 col-sm-8 none-padding-left">
    <div class="panel panel-default left-panel panel-bg-blue">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="row">
            <!-- <button class="btn btn-blue" style="width: 80px;margin-left: 20px;margin-right: 20px">New</button> -->
            <a href="./page2.html" id="newBtn" class="btn btn-blue new-Btn">New</a>
            <button type="button" class="btn btn-grey" id="editBtn" style="width: 80px;margin-right: 20px;" disabled>Edit</button>
            <button class="btn btn-grey" id="delBtn" style="width: 80px" disabled>Delete</button>
          </div>
        </div>
        <!--Line-1-->
        <div class="col-md-12 padding-top-25">
          <div class="form-group">
            <label for="IssueDate" class="col-sm-2 control-label">Issue Date</label>
            <div class="col-sm-4">
              <input type="text" class="form-control bg-white" id="IssueDate" readonly>
            </div>
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-grey" id="noPeriod" style="width: 110px;">No Period</button>
                <button type="button" class="btn btn-blue" id="Period" style="width: 110px;margin-right: 17px">Period</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <div class="col-md-offset-6">
              <label for="TerminationDate" class=" col-sm-6 control-label">Termination Date</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control bg-white" id="TerminationDate" placeholder="2017/01/01" style="cursor:pointer;" readonly>
                  <span class="input-group-addon hand-mouse" onclick="$('#TerminationDate').click();"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span class="text-danger"></span>
              </div>
            </div>
          </div>
        </div>
        <!--Line-2-->
        <div class="col-md-12 padding-top-25">
          <div class="panel panel-default panel-bg-blue" style="border-width: 2px">
            <div class="panel-body">
              <div class="col-md-12 text-center">
                <div class="text-center title-in-solid">
                  <b>
                    <span class="title-in-solid-span">Displayed this area on the MAP</span>
                  </b>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div>
                    <label for="Category" class="col-sm-6 control-label" style="text-align: left;">CATEGORY</label>
                    <div class="col-sm-6 pull-right">
                      <select class="form-control" id="Category">
                        <option value=""></option>
                        <option>Sinking</option>
                        <option>Aground</option>
                        <option>Collision</option>
                        <option>Oil Leak</option>
                        <option>Water Seepage</option>
                        <option>Engine Fault</option>
                      </select>
                      <span class="text-danger" id="CategoryMsg" hidden>Please select the Category.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="incident" class="col-sm-6 control-label" style="text-align: left;">DATE and TIME of occurrence of the incident(UTC)</label>
                  <div class="col-sm-6 pull-right">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" class="form-control bg-white" id="incidentDate" placeholder="2016/11/14" readonly>
                      </div>
                      <div class="col-md-6 ">
                        <div class="col-md-5">
                          <select type="" class="form-control" id="incidentDateHour" style="display: inline-block;" placeholder="06">
                            <option value=""></option>
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                          </select>
                        </div>
                        <div class="col-md-1 text-center none-padding">
                          <span class="text-center" style="display: inline-block; padding-top: 5px;"><b>:</b></span>
                        </div>
                        <div class="col-md-5">
                          <select type="text" class="form-control" id="incidentDateMin" style="display: inline-block;" placeholder="33">
                            <option value=""></option>
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="VESSELNAME" class="col-sm-6 control-label" style="text-align: left;">VESSEL NAME</label>
                  <div class="col-sm-6 pull-right">
                    <input type="text" class="form-control" id="Vessel" placeholder="WNI CONFORT">
                    <span class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="CARGO" class="col-sm-6 control-label" style="text-align: left;">CARGO</label>
                  <div class="col-sm-6 pull-right">
                    <input type="text" class="form-control" id="Cargo" placeholder="CONTAINER">
                    <span class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--Panel-End-->
        <!--Line-3-->
        <div class="col-md-12 ">
          <div class="form-group">
            <div class="col-sm-12">
              <input id="Picture" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
            </div>
          </div>
        </div>
        <!--Line-4-->
        <!-- <div class="col-md-12">
          <div class="form-group">
            <div class="col-sm-5">
              <div class="btn-group">
                <button type="button" class="btn btn-grey" id="noPeriod" style="width: 110px;margin-left: 50px">No Period</button>
                <button type="button" class="btn btn-blue" id="Period" style="width: 110px">Period</button>
              </div>
            </div>
            <div>
              <label for="TerminationDate" class="col-sm-3 control-label">Termination Date</label>
              <div class="col-sm-3">
                <div class="input-group">
                  <input type="text" class="form-control bg-white" id="TerminationDate" placeholder="2017/01/01" style="cursor:pointer;" readonly>
                  <span class="input-group-addon hand-mouse" onclick="$('#TerminationDate').click();"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <span class="text-danger"></span>
              </div>
            </div>
          </div>
        </div> -->
        <!--Line-5-->
        <div class="col-md-12">
          <div class="col-md-offset-5">
            <button type="button" class="btn btn-grey" id="submitBtn" style="width: 120px; margin-right: 20px;" onclick="submitChk();" disabled>Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Left-End-->
  <!--right-Start-->
  <div class="col-lg-4 col-md-4 col-sm-4 none-padding">
    <div class="panel panel-default panel-bg-blue">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2"><h3>Location</h3></div>
          <div class="col-xs-9 col-xs-offset-1">
            <div class="form-group">
              <label for="Port" class="col-sm-2 control-label">Port</label>
              <div class="col-sm-10">
                <!-- <input type="text" class="form-control" id="Port" placeholder="OMAEZAKI"> -->
                <select id="Port" class="form-control">
                  <option value=""></option>
                  <option value="KOBE">KOBE</option>
                  <option value="YOKOHAMA">YOKOHAMA</option>
                  <option value="OSAKA">OSAKA</option>
                  <option value="HAKATA">HAKATA</option>
                  <option value="HITACHI">HITACHI</option>
                  <option value="HIROSHIMA">HIROSHIMA</option>
                  <option value="NAGOYA">NAGOYA</option>
                  <option value="NIIGATA">NIIGATA</option>
                  <option value="CHIBA">CHIBA</option>
                  <option value="PUSAN">PUSAN</option>
                  <option value="DALIAN">DALIAN</option>
                  <option value="XIAMEN">XIAMEN</option>
                  <option value="FUZHOU">FUZHOU </option>
                  <option value="NINGBO">NINGBO </option>
                  <option value="SHEN ZHEN">SHEN ZHEN</option>
                  <option value="KEELUNG">KEELUNG</option>
                  <option value="KAOHSIUNG">KAOHSIUNG </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="Position" class="col-sm-2 control-label">Position</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="Position" placeholder="45-35.8 N    145-56.3 E">
                <span class="text-danger"></span>
              </div>
            </div>
          </div><!--col-xs-9-->
        </div>
        <div class="col-md-12 none-padding text-center bg-white">
	          <polymer-element name="zoom-controller" attributes="selected data hover hoverType clicked map theme multiselect projection pan zoom hoverTemplate markerHoverTemplate cover marks">
	          <template id="example">
	            <d3-geomap style="width:410px; height:285px;" projection="{{projection}}" theme="{{theme}}" zoom="{{zoom}}" pan="{{pan}}" markerHoverTemplate="markerhovertemplate">
	                <fill name="MINE" color="rgba(255,215,0,0.95)"></fill>
	                <marker
	                  name="Grasberg"
	                  country="Indonesia"
	                  radius="36"
	                  reserves="106.231"
	                  latitude="-4.0310"
	                  longitude="137.0657"
	                  fillkey="MINE"
	                  image="Grasberg_mine.jpg"
	                ></marker>
	                <marker
	                  name="South Deep"
	                  country="South Africa"
	                  radius="27"
	                  reserves="81.413"
	                  latitude="-26.25"
	                  longitude="27.40"
	                  fillkey="MINE"
	                  image="south_deep_ops.jpg"
	                ></marker>
	                <marker
	                  name="Lihir"
	                  country="Papua New Guinea"
	                  radius="21"
	                  reserves="64.1"
	                  latitude="-3.0730"
	                  longitude="152.3830"
	                  fillkey="MINE"
	                  image="lihir-gold-mine.jpg"
	                ></marker>
	                <marker
	                  name="Muruntau"
	                  country="Uzbekistan"
	                  radius="17"
	                  reserves="50"
	                  latitude="41.2954"
	                  longitude="64.3418"
	                  fillkey="MINE"
	                  image="Muruntov_mine.JPG"
	                ></marker>
	                <marker
	                  name="Olympiada"
	                  country="Russia"
	                  radius="16"
	                  reserves="47.5"
	                  latitude="56.01"
	                  longitude="93.04"
	                  fillkey="MINE"
	                  image="olimpiada-gold-mine.jpg"
	                ></marker>
	                <marker
	                  name="Oyu Tolgoi"
	                  country="Mongolia"
	                  radius="15"
	                  reserves="46.34"
	                  latitude="43.003"
	                  longitude="106.5035"
	                  fillkey="MINE"
	                  image="oyu-tolgoi-mine.jpg"
	                ></marker>
	                <marker
	                  name="Pueblo Viejo"
	                  country="Dominican Republic"
	                  radius="13"
	                  reserves="40.085"
	                  latitude="18.24"
	                  longitude="-70.46"
	                  fillkey="MINE"
	                  image="pueblo-viejo-mine.jpg"
	                ></marker>
	                <marker
	                  name="Mponeng"
	                  country="South Africa"
	                  radius="13"
	                  reserves="39.557"
	                  latitude="-26.261"
	                  longitude="27.255"
	                  fillkey="MINE"
	                  image="mponeng-mine-shaft.jpg"
	                ></marker>
	                <marker
	                  name="Cadia East"
	                  country="Australia"
	                  radius="13"
	                  reserves="37.6"
	                  latitude="-33.467"
	                  longitude="148.993"
	                  fillkey="MINE"
	                  image="cadia-valley-operations.jpg"
	                ></marker>
	                <marker
	                  name="Obuasi"
	                  country="Ghana"
	                  radius="5"
	                  reserves="29.83"
	                  latitude="6.12"
	                  longitude="-1.41"
	                  fillkey="MINE"
	                  image="obuasi-gold-mine.png"
	                ></marker>

	                <template id="markerhovertemplate">
	                  <div style="
	                    border-radius: 3px;
	                    background-color: #FFF;
	                    box-shadow: 1px 1px 5px #CCC;
	                    font-size: 12px;
	                    border: 1px solid #CCC;
	                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	                  ">
	                    <table>
	                      <tr>
	                        <td style="vertical-align:top;padding-right:10px;">
	                          <strong>{{hover.name}}</strong><br>
	                          {{hover.data.country}}<br>
	                          <span style="text-decoration:underline">Gold Reserves</span>
	                        </td>
	                      </tr>
	                    </table>
	                  </div>
	                </template>
	            </d3-geomap>
	          </template>
	          <script>
	          Polymer({
	            zoom: true,
	            marks: [],
	            pan: true,
	            panY: 0,
	            panX: 0,
	            zoomScale: 0,
	            projection: {
	              x: 0,
	              y: -10,
	              scale: 1.3,
	              zoomIncrement: 0.1,
	              panY: 0,
	              panX: 0,
	              zoomScale: 0
	            },
	            theme: {
	              defaultFill: 'transparent',
	              borderWidth: 0.5,
	              borderColor: '#ddd',
	              backgroundImage: './d3-map/Equirectangular_projection_SW.jpg'
	            },
	            toggleZoom: function(e,i,checkbox){
	              this.zoom = checkbox.checked;
	            },
	            togglePan: function(e,i,checkbox){
	              this.pan = checkbox.checked;
	            },
	            toPercent: {
	              toDOM: function(value) { return value * 100; },
	              toModel: function(value) { return value / 100; }
	            },
	            ready: function(){
	              var observer = new ObjectObserver(this.projection);
	              var self = this;
	              observer.open(function(added, removed, changed, getOldValueFn) {
	                Object.keys(changed).forEach(function(property) {
	                  if(property==='panY') self.panY = changed[property];
	                  if(property==='panX') self.panX = changed[property];
	                  if(property==='zoomScale') self.zoomScale = changed[property];
	                });
	              });
	            },
	          });
	          </script>
	        </polymer-element>

	        <zoom-controller></zoom-controller>
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-bg-yellow" >
      <div class="panel-body">
        <div class="text-center"><h3 style="margin-top: 0px">Historical Contents</h3></div>
        <div class="col-md-12 none-padding history-style">
          <ul class="list-group history-ul-style" id="historyList" style="height: 318px;">
            <span class="list-group-item li-padding hand-mouse" onclick="selectHistory(this);">2016/10/25_15:55:54  Stranding</span>
            <span class="list-group-item li-padding hand-mouse" onclick="selectHistory(this);">2016/10/26_02:09:08  Collision</span>
            <span class="list-group-item li-padding hand-mouse" onclick="selectHistory(this);">2016/10/29_06:29:56  Freight Damage</span>
            <span class="list-group-item li-padding hand-mouse" onclick="selectHistory(this);">2016/10/30_00:35:27  Crew Death</span>
            <span class="list-group-item li-padding hand-mouse" onclick="selectHistory(this);">2016/11/02_03:42:13  Machinery Damage</span>
            <span class="list-group-item li-padding hand-mouse" onclick="selectHistory(this);">2016/11/04_21:45:55  Engine Trouble</span>
            <span class="list-group-item li-padding hand-mouse active" onclick="selectHistory(this);">2016/11/06_05:35:40  Collision</span>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--right-End-->
</form>
</div>


  <!-- Bootstrap core JavaScript
   ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="<%=@contents_uri%>/js/jquery.min.js"></script>
  <script src="<%=@contents_uri%>/js/bootstrap.min.js"></script>
  <script src="<%=@contents_uri%>/pikaday/js/moment.min.js"></script>
  <script src="<%=@contents_uri%>/pikaday/js/pikaday.js"></script>
  <script src="<%=@contents_uri%>/js/init.js"></script>
  <script src="<%=@contents_uri%>/js/jquery.combo.select.js"></script>
  <script src="<%=@contents_uri%>/bootstrap-fileinput-master20161101/js/fileinput.js"></script>
</body>
</html>
